<div fxLayout="column">
  <h1 fxFlexAlign="center" class="txt-center"> Welcome to igdbFront 🎮</h1>
  <h2 fxFlexAlign="center" class="txt-center">The web app made for exploring the <a href="https://igdb.github.io/api/" target="_blank" rel="noopener">igdb</a> API</h2>

    <span fxLayout="row" fxLayoutAlign="space-evenly center">
      <p *ngIf="(count$ | async) as count">Start exploring : {{count}} games</p>
      <span>
        <mat-form-field>
          <input matInput [(ngModel)]="search">
        </mat-form-field>
        <a mat-raised-button [routerLink]="'search/' + search" color="accent"><mat-icon>search</mat-icon></a>
      </span>
    </span>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">

      <span *ngIf="isLoading; then displayLoading; else displayGame"></span>
      <ng-template #displayGame>
        <div *ngIf="(game$ | async) as game" fxLayout="row" fxLayoutAlign="space-evenly center">
          <button mat-raised-button [disabled]="!canPrevious" (click)="getGame(game.id - 1)" color="primary"><mat-icon>keyboard_arrow_left</mat-icon></button>
          <app-game-thumb fxFlexAlign="center" fxFlex.gt-md="50%" [game]="game$ | async"></app-game-thumb>
          <button mat-raised-button [disabled]="!canNext" (click)="getGame(game.id + 1)" color="primary"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
      </ng-template>

      <ng-template #displayLoading>
          <mat-spinner></mat-spinner>
      </ng-template>
    </div>

</div>