<div fxLayout="column">
  <h1 fxFlexAlign="center"> Welcome to igdbFront 🎮</h1>
  <h2 fxFlexAlign="center">The web app made for exploring the <a href="https://igdb.github.io/api/" target="_blank" rel="noopener">igdb</a> API</h2>

    <p *ngIf="(count$ | async) as count">Start exploring : {{count}} games</p>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">

      <span *ngIf="isLoading; then displayLoading; else displayGame"></span>
      <ng-template #displayGame>
        <div *ngIf="(game$ | async) as game" fxLayout="row" fxLayoutAlign="space-evenly center">
          <button mat-button [disabled]="!canPrevious" (click)="getGame(game.id - 1)"><mat-icon>keyboard_arrow_left</mat-icon></button>
          <app-game-thumb [game]="game$ | async"></app-game-thumb>
          <button mat-button [disabled]="!canNext" (click)="getGame(game.id + 1)"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
      </ng-template>

      <ng-template #displayLoading>
          <mat-spinner></mat-spinner>
      </ng-template>
    </div>

</div>