<div fxLayout="column">
  <h1 fxFlexAlign="center"> Welcome to igdbFront 🎮</h1>
  <h2 fxFlexAlign="center">The web app made for exploring the <a href="https://igdb.github.io/api/" target="_blank" rel="noopener">igdb</a> API</h2>

  <span *ngIf="isApiok$ | async; then displayContent; else displayError"></span>

  <ng-template #displayContent>
    <p *ngIf="count">Start exploring : {{count}} games</p>

    <span fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-button [disabled]="!canPrevious" (click)="getGame(game.id - 1)"><mat-icon>keyboard_arrow_left</mat-icon></button>

        <span *ngIf="isLoading; then displayLoading; else displayGames"></span>
        <ng-template #displayLoading>
            <mat-spinner></mat-spinner>
        </ng-template>
    
        <ng-template #displayGames>
            <app-game-thumb *ngIf="game" [game]="game"></app-game-thumb>
        </ng-template>

        <button mat-button [disabled]="!canNext" (click)="getGame(game.id + 1)"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </span>

  </ng-template>

  <ng-template #displayError>
    <mat-card fxFlexAlign="center"  fxLayout="column">
      <mat-card-title>⚠️ Please enter a valid API Key !</mat-card-title>
      <mat-card-content  fxFlexAlign="center">Click on the <mat-icon>edit</mat-icon> at the top right</mat-card-content>
    </mat-card>
  </ng-template>
</div>