
<a mat-button routerLink=""><mat-icon>keyboard_backspace</mat-icon></a>

<div fxLayout="column">
  <span *ngIf="isLoading; then displayLoading; else displayGame"></span>

  <ng-template #displayLoading>
    <mat-spinner fxFlexAlign="center"></mat-spinner>
  </ng-template>

  <ng-template #displayGame>
    <span fxFlexAlign="center" fxLayout="row" fxLayoutAlign="center center">
      <h1>{{game.name}}</h1>
      <p>#{{game.id}}</p>
    </span>
    <div fxFlexAlign="center" fxLayout="row" fxLayoutAlign="space-evenly start">
      <div fxFlex="50%">
        <p>{{game.summary}}</p>
        <span *ngFor="let platform of game.platforms">{{platform}}, </span>
      </div>
      <img fxFlex="50%" [src]="game.cover">
    </div>
  </ng-template>
</div>